 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
            font-family: arial, sans-serif;
            margin: 20px;
            text-transform: uppercase;
        }

        section {
            display: flex;
            flex-direction: row;
            width: 100vw;
            max-width: 1200px;
            justify-content: space-around;
            font-family: arial, sans-serif;
            align-content: center;


        }

        .col {
            display: flex;
            flex-direction: column;
            flex-basis: 30%;
            background-color: gainsboro;
            align-items: center;

        }

        .col h2 {
            text-transform: uppercase;
            margin: 50px 10px;
        }

        .col img {
            width: 80%;
        }

        .col p {
            margin: 50px 10px;
        }

        .price {
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            justify-content: flex-end;

        }

        .price span {
            background-color: white;
            padding: 20px 20px;
            border: 2px solid black;


        }