* {
    margin: 0;
    padding: 0;
}

button {
    font-size: 40px;
    font-family: arial, sans-serif;

}

h1 {
    font-family: arial;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.larger:hover ~ h1 {
    font-size: 160px;
    background-color: pink;
    padding: 5px;
}

.smaller:hover ~ h1 {
    font-size: 40px;
}

.border:hover ~ h1 {
    border: 2px solid black;
}
