        * {
            margin: 0;
            padding: 0;

        }

        ul {

            display: flex;
            /*            flex-direction: row;*/
            list-style: none;


        }

        li {
            flex-basis: 100%;
            /*            flex-shrink: 1;*/


        }

        a {
            display: block;
            font-size: 22px;
            text-align: center;
            background-color: deeppink;
            color: white;
            font-family: arial, sans-serif;
            text-decoration: none;
            padding: 20px;
            margin: 15px;
        }

        a:hover {
            background-color: dimgray;
        }

        @media (max-width: 1024px) {
            ul {
                flex-direction: column;
            }

            a {
                margin: 0;
            }
        }
