 button {
            position: relative;
            display: block;
            margin: 100px auto;
            font-size: 40px;
            padding: 10px 30px;
            background-color: transparent;
            border: 3px solid black;
            overflow: hidden;
            transition: .15s .15s linear;
            color: black;
        }

        button::before {
            content: "";
            width: 100%;
            height: 6px;
            background-color: black;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            transition: left 0.3s, height 0.1s 0.2s;
        }

        button:hover::before {
            left: 0;
            height: 104%;
            z-index: -1;


        }

        button:hover {
            color: white;
        }