*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    position: absolute;
    top: 5vh;
    left: 5vw;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px;
    transition: .2s linear;
    
}

.btn:hover {
    background-color: rebeccapurple;
    color: white;
}

nav {
    position: absolute;
    left: 5vw;
    top: 95vh;
    background-color: rebeccapurple;
    height: 0px;
    width: 0px;
    transition: 1s;
}

.btn:hover ~ nav:nth-of-type(1){
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 40vh;
    width: 40vh;
    background-color: rebeccapurple;
    
}
.btn:hover ~ nav:nth-of-type(2){
   background-color: brown;
   left: 50vw;
   top: 65vh;
   transform: translate(-50%, -50%);
   height: 10vh;
   width: 5vh;
}
.btn:hover ~ nav:nth-of-type(3){
    background-color: coral;
    left: calc(50% - 10vh);
    top: 40vh;
    transform: translateX(-50%);
    height: 8vh;
    width: 8vh;
}
.btn:hover ~ nav:nth-of-type(4){
    background-color: coral;
    left: calc(50% + 10vh);
    top: 40vh;
    transform: translateX(-50%);
    height: 6vh;
    width: 10vh;
    
}
.btn:hover ~ nav:nth-of-type(5){
        background-color: gray;
        left: 50%;
        top: calc(50% - 20vh);
        transform: translate(-50%, -50%) rotate(45deg);
        height: calc(40vh/1.41);
        width: calc(40vh/1.41);
        z-index: -1;

}
.btn:hover ~ nav:nth-of-type(6){
    position: absolute;
    background-color:black;
    left: calc(50% + 15vh);
    top: calc(50% - 30vh);
    transform: translateX(-50%);
    height: 10vh;
    width: 6vh;
    z-index: -2;
}

nav:nth-child(1) {
    transition-delay: 0.1s;
}

nav:nth-child(2) {
    transition-delay: 0.2s;
}

nav:nth-child(3) {
    transition-delay: 0.3s;
}

nav:nth-child(4) {
    transition-delay: 0.4s;
}

nav:nth-child(5) {
    transition-delay: 0.5s;
}

nav:nth-child(6) {
    transition-delay: 0.6s;
}