
        html {
            /* stół */
            --tableWidth: 700px;
            --tableHeight: 400px;
            --tableColor: #333;
            /* rakietka */
            --paddleWidth: 25px;
            --paddleHeight: 80px;
            --paddleColor: hotpink;
            /* piłka */
            --ballSize: 20px;
            --ballColor: white;
            /* pozycja */
            --paddleFromEdge: 50px;
            /* czas animacji */
            --animationTime: 5s;
        }

        .table,
        .ball,
        .paddle,
        .result {
            position: absolute;
        }

        .table {
            width: var(--tableWidth);
            height: var(--tableHeight);
            background-color: var(--tableColor);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .ball {
            width: var(--ballSize);
            height: var(--ballSize);
            top: calc(50% - var(--ballSize)/2);
            left: calc(50% - var(--ballSize)/2);
            background-color: var(--ballColor);
            border-radius: 50%;
            animation: ballMove var(--animationTime) linear both;

        }

        .paddle {
            width: var(--paddleWidth);
            height: var(--paddleHeight);
            background-color: var(--paddleColor);
        }

        /* rakietka lewa strona */

        .player {
            top: calc(50% - var(--paddleHeight)/2);

            left: var(--paddleFromEdge);
            animation: playerPaddle var(--animationTime) linear both;
        }

        /* prawa strona */

        .ai {
            top: calc(50% - var(--paddleHeight)/2);
            right: var(--paddleFromEdge);
            animation: aiPaddle var(--animationTime) linear both;
        }

        .result {

            width: 100%;
            left: 0;
            top: 10%;
            text-transform: uppercase;
            text-align: center;
            font-family: sans-serif;
            color: black;
            transform: scale(0);

            animation: showResult 1s calc(var(--animationTime) + 1s) both;
        }

        body {
            overflow: hidden;
        }

        @keyframes ballMove {

            20% {
                top: 340px;

                left: 605px;
            }

            40% {
                top: calc(100% - 20px);
                left: 400px;
            }

            60% {
                top: calc(25% - 20px);
                left: 75px;
            }

            80% {
                top: 0;
                left: 500px;
                ;
            }

            100% {
                top: 30%;
                left: 100%;
            }
        }

        @keyframes playerPaddle {


            40% {
                top: calc(100% - 90px);

            }

            60% {
                top: calc(0% + 10px);
            }


            100% {
                top: calc(0% + 10px);

            }

        }

        @keyframes aiPaddle {
            20% {
                top: calc(100% - 90px);
            }


            100% {
                top: 25%;
            }

        }

        @keyframes showResult {

            100% {
                transform: scale(1);
            }

        }